.review-content{
    padding: 1rem 3rem;
    width: 90vw;
    height: 80vh;
    overflow-y: auto;
}
.review-cards-wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0;
    margin-top: 2rem;
}
.review-card{
    margin-bottom: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 4px 0 gray;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 200px;
}
.review-card p{
    font-size: 12px;
    color: gray;
    text-align: start;
}
.review-moview-img-con{
    display: flex;
    justify-content: center;
    align-items: center;
}
.review-moview-img{
    width: 134px;
}
.review-moview-img:hover{
    cursor: pointer;
    box-shadow: 0 0 12px 0 gray;
    transform: scale(1.05);
}
.avatar-img{
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-right: 0.5rem;
}
.review-user{
    width: 24px;
    height: 24px;
    padding: 0.5rem;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 100%;
    margin-right: 0.5rem;
}
    


.read-more-btn{
    width: 100px;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 8px;
    height: 32px;
    background-color: rgb(42, 122, 234);
    transition: 0.5s;
    font-size: 12px;
}
.read-more-btn:hover{
    cursor: pointer;
    letter-spacing: 1px;
    
}
.movie-review-content{
    padding: 0 1rem;
    padding-right: 2rem;
}
.author-profile:hover{
    cursor: pointer;
}